<h1>About me:</h1>

<p>My name is Dean Palm, and I am looking for an internship or entry level position in web development. I am an eager, highly motivated, fast learner seeking to grow my professional skills in the tech industry.</p>

<p>I completed the MakerSquare web development program. I am interested in creating web applications with rich front end user experiences that lend themselves to more overall utilities.</p> 

<p>Please contact me at dean451@gmail.com</p>